body{
    margin: 0px;
}



@keyframes hide {
    0% {
        width: 100%;
      }
      100% {
        width: 0%;
        visibility: hidden;
    }
}

@keyframes show{
    0% {
        width: 0;
      }
      100% {
        width: 100%;
        padding-left: 20px;
    }
}

@keyframes hideReserva {
    to { visibility: hidden; }
}

@keyframes showReserva{
    to { visibility: visible;}
}



.navBar{
    height: 100px;
    width: auto;
    background-color: black;
    position: relative;
    min-width: 360px;
    min-height: 120px;
}

.logo-icon{
    position: relative;
    display: block;

    z-index: 1;

    max-height: 200px;
    max-width: 220px;

}

.frontLink{
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-top: 30px;
    font-size: 30px;
    color: white;
    position: relative;
    text-decoration: none;
}

.buttons{
    font-size: 23px;
    color: white;
    float: right;
    margin-top: 40px;
    margin-right: 150px;
}




.menu-toggle {
    display: none; /* hide the checkbox */
}


.hamburger1{
    width:32px;
    height:2px;
    background:white;
    display:block;
    position: relative;
    transform:translate3d(0,-8px,0);
}

.hamburger2{
    width:32px;
    height:2px;
    background:white;
    display:block;
    position: relative;
    transform:translate3d(0,0,0);
}

.hamburger3{
    width:32px;
    height:2px;
    background:white;
    display:block;
    position: relative;
    transform:translate3d(0,8px,0);
}

.hitbox{
    border: 1px solid grey;
    width: 50px;
    height: 38px;
    border-radius: 15%;
    display: block;
    position: relative;
    transform: translate3d(-11px,-23px,0);
    cursor: pointer;
}

.hitbox:hover{
    background: rgba(165, 165, 165, 0.253);
}

.div-hitbox{
    display: none;
    position: relative;
    float: right;
    margin-right: 65px;
    margin-top: 60px;
}

.menu-toggle:checked ~ .buttons{
    padding-top: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    display: block;
    width: 200px;
    height: 650px;

    position: absolute;
    visibility: visible;
    animation: show;
    transition: width 1s ease;
}

.menu-toggle:checked ~ .buttons > a{
    margin-bottom: 30px;
    position: relative;
    visibility: visible;
}

.menu-toggle:checked ~ .buttons > .linkProdutos{
    padding-top: 20px;
}

.menu-toggle:checked ~ .div-hitbox .menu-toggle-button .hitbox{
    background:rgba(165, 165, 165, 0.253);
    box-shadow: 0px 0px 10px 2px gray;
}

.link{
    margin-right: 70px;
    text-decoration: none;
    color: white;
    font-family: Poppins,sans-serif;
    font-size: 17px;
    overflow: hidden;
    transition: color 0.25s;
    letter-spacing: 3px;
}

.link:hover{
    color: rgb(112, 112, 112);
    cursor: pointer;
}


.buttonFront{
    color: white;
    font-size: 23px;
    height: 40px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    padding-top: 12px;
    background: linear-gradient(180deg, rgb(126, 0, 4) 0%, rgb(119, 26, 3) 50%, rgba(144,0,74,1) 89%, rgb(173, 39, 6) 100%);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    box-shadow: 2px 2px 3px 1px rgb(0, 0, 0);
}

.buttonFront:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24),0 0px 10px 0 rgb(0, 0, 0);
}

.buttonFront:active{
    box-shadow: -2px -2px 3px 1px rgb(0, 0, 0);
}


.frontPic{
    height: 650px;
    width: auto;
    min-width: 360px;
    max-width: 100%;
    background-image: url("/src/lowRes/ursoLR-9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.frontPicContent{
    width: 40%;
    padding-left: 10%;
    padding-top: 80px;
}

.logoAbraco{
    display: block;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    min-width: 200px;

}

.logoAbracoText{
    line-height: 50px;
    font-size: 28px;
    font-family: Poppins,sans-serif;
    color: white;
    min-width: 300px;
    text-align: center;
}

.blackOverlay{
    width: auto;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
}





.divisoria{
    height: auto;
    width: auto;
    background-color: black;
    position: relative;
    min-width: 360px;
}

.textoDiv{
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
}








.slideshow {
    list-style-type: none;
}
  
/** SLIDESHOW **/
.slideshow, .slideshow:after { 
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 800px;
    left: 0px;
    z-index: 0; 
}


.slideshow li span { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    min-width: 360px;
    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: slideshow 12s linear infinite 0s;
}
  
  
.slideshow li:nth-child(1) span { 
    background-image: url("/src/lowRes/hidromeis.jpg");
}
.slideshow li:nth-child(2) span { 
    background-image: url("/src/lowRes/ursoLR-8.jpg");
    animation-delay: 3s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("/src/lowRes/ursoLR-2.jpg");
    animation-delay: 6s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url("/src/lowRes/fotocesto.jpg");
    animation-delay: 9s; 
}
  
  
  
@keyframes slideshow { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}





.reservaFeita{
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    height: 100%;
    position: absolute;
    animation: showReserva 2.5s;
}



.reservaEscondida{
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}

.validacao{
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    height: 100%;
    position: absolute;
    animation: showReserva 2.5s;
}

.validacaoEscondida{
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}

.confirmacao{
    display: block;
    border: 2px solid rgb(255, 255, 255);
    max-width: 430px;
    width: auto;
    height: 200px;
    background-color: rgb(207, 118, 46);
    margin-left: auto;
    margin-right: auto;
    margin-top: 450px;
}

.ursoConfirmacao{
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
}

.palavra{
    color: white;
    font-size: 45px;
    margin-left: 40px;
    margin-top: 70px;
    width: 200px;
    height: 50px;
    float: left;
}

.palavraValidacao{
    color: white;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 60px;
    display: block;
}



.backgroundPages{
    width: auto;
    height: auto;
    position: relative;
    
    min-width: 360px;
    max-width: 100%;

    background-image: url("/src/lowRes/hidromel-xadrez-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.backgroundPagesContent{
    padding-bottom: 100px;
    min-height: 560px;
}


.titulo{
    padding-top: 75px;
    font-family: Tahoma, Geneva, sans-serif;
    padding-bottom: 80px;
    text-align: center;
    color: white;
    font-size: 50px;
}


.border{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 50px 50px 50px 50px;
    background-color: rgba(0, 0, 0, 0.651);
    border: 2px solid rgb(175, 89, 19);
}

.backgroundPagesContent .border .forms .form-group input{
    color: white;
    font-size: 27px;
    font-family: Poppins,sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-bottom: 2px solid rgb(175, 89, 19);
    width:100%;
    -moz-appearance:textfield; /* firefox */
}

.formInput::placeholder {
    color: lightgray;
    opacity: 1; /* firefox */
}

#produto{
    color: white;
    height: 40px;
    font-size: 15px;
    background-color: rgba(255, 0, 0, 0);
    width:100%;
}

.form-group {
    padding-bottom: 30px;
}

.buttonReservar{
    color: white;
    font-size: 30px;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(175, 89, 19, 0.274);
    border: 2px solid rgb(175, 89, 19);
    outline: none;
    cursor: pointer;
    display: block;
    box-shadow: 1px 1px 3px 1px rgb(138, 88, 13);
}

.buttonReservar:hover{
    background-color: rgba(175, 89, 19, 0.534);
}

.buttonReservar:active{
    box-shadow: -2px -2px 3px 1px rgb(196, 125, 19);
}

.backgroundPagesContent .forms input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.produtoHref{
    color: lightgray;
}

.produtoHref:hover{
    color: rgb(141, 141, 141);
}




.fotoGalera{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 52%;
    min-width: 350px;

    height: auto;
    
    display: block;   /* importante */

    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;

    margin-left: auto;
    margin-right: auto;
    
}


.textBorderPages{
    color: white; 
    font-size: 26px;
    width: 48%;
    min-width: 290px;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px; 
    padding-bottom: 80px; 
    text-align: justify;
    padding: 20px 30px 20px 30px;

    background-color: rgba(0, 0, 0, 0.651);
    border: 2px solid rgb(175, 89, 19);
}







.buttonLeva{
    color: white;
    font-size: 25px;
    height: 50px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-top: 15px;
    text-align: center;
    background-color: rgba(175, 89, 19, 0.301);
    border: 2px solid rgb(175, 89, 19);
    outline: none;
    cursor: pointer;
    display: block;
    font-family: Tahoma, Geneva, sans-serif;
    box-shadow: 1px 1px 3px 1px rgb(138, 88, 13);
    text-decoration: none;
}

.buttonLeva:hover{
    background-color: rgba(175, 89, 19, 0.897);
}

.buttonLeva:active{
    box-shadow: -2px -2px 3px 1px rgb(196, 125, 19);
}


.subtitulo{
    font-family: Tahoma, Geneva, sans-serif;
    padding-bottom: 80px;
    text-align: center;
    color: white;
    font-size: 20px;
}







.galeria{
    width: auto;
    text-align: center;
}

.spanFotos{
    height: 680px;
    display: inline-block;
}

.spanFotos img{
    margin: 0px;
    padding-right: 60px;
    display: inline-block;
}

.legenda{
    color:white;
    width: 360px;
    display: block;
    font-size: 160%;
    text-align: center;
    position: relative;
}



.bordaProduto{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 360px;
    height: auto;
    
    margin-left: auto;
    margin-right: auto;

    padding: 50px 50px 50px 50px;
    background-color: rgba(0, 0, 0, 0.651);
    border: 2px solid rgb(175, 89, 19);
    
}

.fotoProduto{
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 600px;
}

.produtoLegenda{
    color:white;
    width: auto;
    display: block;
    font-size: 160%;
    
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.textoProduto{
    display: block;
    position: relative;
    color: white; 
    font-size: 17px;
    text-align: justify;
    padding: 20px 10px 10px 10px;
}

.buttonProduto{
    color: white;
    font-size: 20px;
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 12px;
    background: linear-gradient(180deg, rgb(126, 0, 4) 0%, rgb(119, 26, 3) 50%, rgba(144,0,74,1) 89%, rgb(173, 39, 6) 100%);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    box-shadow: 2px 2px 3px 1px rgb(0, 0, 0);
}

.buttonProduto:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24),0 0px 10px 0 rgb(0, 0, 0);
}

.buttonProduto:active{
    box-shadow: -2px -2px 3px 1px rgb(0, 0, 0);
}

.textoContato{
    color: white; 
    font-size: 24px;
    margin-left: auto; 
    margin-right: auto;
    max-width: 300px;
    overflow-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px; 
    padding-bottom: 80px; 
    text-align: center;
    padding: 20px 30px 20px 30px;

    background-color: rgba(0, 0, 0, 0.651);
    border: 2px solid rgb(175, 89, 19);
}




.footer{
    height: auto;
    width: auto;
    background-color: black;
    position: relative;
    min-width: 360px;
}


.footerContent{
    text-align: center;
    padding-top: 10px;
}

.instaLogo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    height: 70px;
    width: auto;
}


.qrText{
    font-size: 23px;
    color: white;
    padding-bottom: 20px;
}


.download{
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
}


.copyright{
    font-size: 20px;
    text-align: center;
    color: white;
    padding-bottom: 7px;
}



@media screen and (max-width: 432px){

    .palavraValidacao{
        margin-top: 40px;
    }

    .palavra{
        margin-left: 15px;
        margin-top: 60px;
    }

    .ursoConfirmacao{
        width: 100px;
        height: 160px;
    }

    .confirmacao{
        height: 180px;
    }
}



@media screen and (max-width: 425px){
    
    .frontLink{
        font-size: 25px;
        padding-left: 20px;
    }

    .div-hitbox{
        margin-right: 50px;
    }

}


@media screen and (max-width: 490px){
    .bordaProduto{
        padding: 0 0 40px 0;
        width: 355px;
    }
    .fotoProduto{
        height: 580px;
        width: 355px;
    }
}


@media screen and (max-width: 740px){
    .spanFotos img{
        padding-right: 0px;
    }
}


@media screen and (max-width: 770px){
    .logoAbraco{
        margin-left: 50px;
    }
    .buttonFront{
        margin-left: 50px;
    }
}


@media screen and (max-width: 1440px) {

    .link{
        margin-right: 0px;
        text-decoration: none;
        color: white;
        font-family: Poppins,sans-serif;
        font-size: 17px;
        transition: color 0.25s;
        letter-spacing: 3px;
        white-space: nowrap;
    }
    
    .buttons > a{
        display: block;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        padding-left: 20px;

        visibility: hidden;
        transition: visibility 1s ease;
        animation: hide;
    }

    .buttons {
        width: 0px;
        height: 650px;
        position: absolute;
        background: rgb(0, 0, 0);
        transition: width 1s ease;
        animation: hide;
        overflow: hidden;

        padding-top: 20px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: calc(100% - 200px);
        right: 0;
        top: 120px;
        z-index: 1;
    }

    .div-hitbox{display: block;}

}